<!DOCTYPE html>
<html>
<%- include('templates/head')%>

<body>
    <%- include('templates/header')%>
    <main style="margin-top: 150px;">
        <!-- Time  -->
        <div class="container my-5">
            <div class="row justify-content-around ">
              <div class="col-md-auto">
                <h2>Welcome - <span class="text-primary"><%=firstname%></span></h2>
              </div>
              <div class="col-md-auto">
                <h4 id="currentDate" class="text-secondary"></h4>
              </div>
            </div>
          </div>
        <!-- Students -->
        <div class="container">
            <div class="row">
                <% studentsData.forEach((student, index) => { %>
                <div class="col-md-3">
                    <!-- Adjust the grid size based on your needs -->
                    <div class="card mb-4">
                        <img src="<%= student.image %>" class="card-img-top" alt="student image" />
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= student.fullname %>
                            </h5>
                            <p class="card-text">
                                <strong>Last Time Present:</strong>
                                <a href="">
                                    <%= student.lastTimePresent %></a><br />
                                
                                <div class="d-flex gap-1 align-items-center">
                                  <strong>Ranks:</strong>
                                    <% student.ranks.forEach((rank, intex)=> {%>
                                    <span class="badge bg-success">
                                        <%= rank %>
                                    </span><br />
                                    <%})%>
                                </div>
                                <strong>Hours:</strong>
                                <%= student.hours %>
                            </p>
                            <button type="button" class="btn btn-primary btn-sm">View profile</button>
                        </div>
                    </div>
                </div>
                <% if ((index + 1) % 4 === 0) { %>
                <!-- Start a new row every 4 students -->
            </div>
            <div class="row">
                <% } %>
                <% }); %>
            </div>
        </div>
    </main>
    <!-- NOTE if you remove this then you loose my consent to use this application -->
    <%- include('templates/footer')%>
</body>
<script>
// Time function
function setTime() {
    let currentDate = new Date();
    // Format the date
    let formattedDate = currentDate.toLocaleDateString("en-US", {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric",
    });

    // Update the content of the currentDate element using jQuery
    $("#currentDate").text(formattedDate);
}

setTime();
//

</script>

</html>
